#ignore merge related files
*.orig
Project Cube.vcxproj.BACKUP.*
Project Cube.vcxproj.LOCAL.*
Project Cube.vcxproj.BASE.*
Project Cube.vcxproj.REMOTE.*

#test files
settings2.xml

#logger files
log.txt

#Visual Studio related files:
*.sdf
*.suo
*.user
*.opensdf
visual studio files/ipch
visual studio files/Release
visual studio files/Debug
visual studio files/bin
visual studio files/Project Cube Test

#doxygen
doc/html/

#qtcreator
qtcreator-build/

#external libs
external/glm
external/lua*
external/glew
external/glfw
external/cppunit

#test results
testresults*
